USE [master];
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'WarehouseDB')
BEGIN
    CREATE DATABASE [WarehouseDB];
END
GO
USE [WarehouseDB];
GO

/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.03.2026 10:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.03.2026 10:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CompanyId] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelves]    Script Date: 12.03.2026 10:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Capacity] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[CompanyId] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Shelves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 12.03.2026 10:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[ShelfId] [int] NOT NULL,
	[CompanyId] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StockMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 12.03.2026 10:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CompanyId] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260311062829_InitialCreate', N'9.0.13')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Code], [Category], [Unit], [Description], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'denemead', N'denemekod', N'G�da', N'Adet', N'denemeacıklama', N'COMP001', 1, CAST(N'2026-03-11T07:54:36.6489415' AS DateTime2), CAST(N'2026-03-11T13:35:31.6774260' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Name], [Code], [Category], [Unit], [Description], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'denemeS', N'Dnm-1', N'Gıda', N'string', N'string', N'string', 0, CAST(N'2026-03-11T13:32:02.0903221' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [Name], [Code], [Category], [Unit], [Description], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'DenemeUrunad', N'DnmUA-1', N'Gida', N'Litre', N'', N'COMP001', 0, CAST(N'2026-03-11T13:36:06.4671272' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Shelves] ON 

INSERT [dbo].[Shelves] ([Id], [Code], [Capacity], [WarehouseId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'denemerafkodu', 100, 1, N'COMP001', 0, CAST(N'2026-03-11T11:51:24.2482750' AS DateTime2), NULL)
INSERT [dbo].[Shelves] ([Id], [Code], [Capacity], [WarehouseId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'A1', 100, 1, N'COMP001', 0, CAST(N'2026-03-11T11:53:23.3496596' AS DateTime2), NULL)
INSERT [dbo].[Shelves] ([Id], [Code], [Capacity], [WarehouseId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'denemerafkodu', 100, 1, N'COMP001', 0, CAST(N'2026-03-11T11:56:56.3045000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Shelves] OFF
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([Id], [Type], [Quantity], [Note], [ProductId], [ShelfId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 59, N'', 1, 2, N'COMP001', 0, CAST(N'2026-03-11T13:13:04.6830791' AS DateTime2), NULL)
INSERT [dbo].[StockMovements] ([Id], [Type], [Quantity], [Note], [ProductId], [ShelfId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 15, N'', 1, 4, N'COMP001', 0, CAST(N'2026-03-11T13:13:17.0948304' AS DateTime2), NULL)
INSERT [dbo].[StockMovements] ([Id], [Type], [Quantity], [Note], [ProductId], [ShelfId], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, 2, 1, N'', 1, 2, N'COMP001', 0, CAST(N'2026-03-11T13:33:17.6628023' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([Id], [Name], [Location], [Description], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'denemedepo', N'denemedepolokasyon', N'denemedepoacıklama', N'COMP001', 0, CAST(N'2026-03-11T11:51:10.0346361' AS DateTime2), NULL)
INSERT [dbo].[Warehouses] ([Id], [Name], [Location], [Description], [CompanyId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'depo1', N'depo1.1', N'depoacıklama1', N'COMP001', 0, CAST(N'2026-03-11T13:12:13.4038708' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
ALTER TABLE [dbo].[Shelves]  WITH CHECK ADD  CONSTRAINT [FK_Shelves_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shelves] CHECK CONSTRAINT [FK_Shelves_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_Products_ProductId]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_Shelves_ShelfId] FOREIGN KEY([ShelfId])
REFERENCES [dbo].[Shelves] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_Shelves_ShelfId]
GO
